.about,
.about * {
  box-sizing: border-box;
}
.about {
  background: #ffffff;
  height: 957px;
  position: relative;
  overflow: hidden;
}
.hero-image {
  background: linear-gradient(to left, #f7f7f7, #f7f7f7);
  border-radius: 8px;
  width: 389px;
  height: 504px;
  position: absolute;
  right: 80px;
  top: 184px;
  overflow: hidden;
  object-fit: cover;
}
.headline {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 1041px;
  height: 657px;
  position: absolute;
  left: 80px;
  top: 128px;
}
.tomeya {
  color: #000000;
  text-align: left;
  font-family: var(--title-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-font-size, 64px);
  letter-spacing: var(--title-letter-spacing, -0.02em);
  font-weight: var(--title-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.cxo-infp {
  color: #828282;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation-footer {
  background: #ffffff;
  height: 264px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1021px;
  overflow: hidden;
}
.social-media {
  color: #000000;
  text-align: left;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 24px);
  line-height: var(--subheading-line-height, 150%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: 80px;
  top: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-icons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xs, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 80px;
  top: 176px;
}
.buttons-icon {
  border-radius: 4px;
  padding: 8px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.icon4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.divider {
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 1px 0 0 0;
  width: 1280px;
  height: 0px;
  position: absolute;
  left: 80px;
  top: 1px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 589px;
  top: 61px;
}
.wechat {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.items2 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 898px;
  top: 61px;
}
.e-mail {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rjjn-7230121 {
  color: #454545;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 944px;
  top: 127px;
  width: 187px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2363151489-qq-com {
  color: #454545;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 635px;
  top: 130px;
  width: 294px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.items3 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 361px;
  top: 52px;
}
.ins {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.https-www-instagram-com-lefiy-ia-23-igsh-m-thq-o-wtw-y-3-pk-nw-zobw-3-d-3-d-utm-source-qr {
  color: #454545;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 1172px;
  top: 110px;
  width: 451px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation-footer2 {
  background: #ffffff;
  height: 233px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 724px;
  overflow: hidden;
}
.wyyuu-040705 {
  color: #454545;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 901px;
  top: 130px;
  width: 187px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1196979553-qq-com {
  color: #454545;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 592px;
  top: 130px;
  width: 294px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.items4 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s, 24px);
  align-items: flex-end;
  justify-content: center;
  width: 187px;
  position: absolute;
  right: 361px;
  top: 61px;
}
.red-book {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wyy-0705 {
  color: #454545;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 1146px;
  top: 130px;
  width: 451px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation {
  background: #ffffff;
  height: 128px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.items5 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 80px;
  top: 56px;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4-aol {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 80px;
  top: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.paragraph {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 80px;
  top: 271px;
  width: 1063px;
  height: 505px;
}
